
@{
    ViewData["Title"] = "Index";
}

<h1>Dữ liệu từ Controller gửi về là: @ViewBag.infoHTPP</h1>

<form asp-action="Index">
    <label>Nhập MaHTPP:</label>
    <input type="text" name="MaHTPP">

    <label>Nhập TenHTPP:</label>
    <input type="text" name="TenHTPP">
    <input type="submit" value="Gửi dữ liệu">
</form>